/*------------------------------------------------------------------------------------Index--------------------------------------------------------------------------------------------------*/
h1 {
  text-align: center;
  font-family: Brush Script MT;
  font-size: 70px;
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  h1 {
    margin-left: 400px;
    margin-right: -500px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 100px;
    margin-top: 230px;
    margin-left: 100px;
    margin-right: -800px;
  }
}

.logo {
  width: 130px;
}

.logo1 {
  width: 130px;
  position: relative;
  right: 15px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.header nav ul {
  background-color: cadetblue;
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul li {
  border-right: 1px solid white;
}

.header nav ul li :hover {
  background-color: #0e9196;
}

.header nav ul a {
  display: block;
  padding: 15px 50px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header nav ul {
    font-size: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header nav ul {
    font-size: 40px;
  }
}

.main .carousel-inner {
  z-index: -1;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 190px;
  width: 80%;
  height: 90vh;
}

.main .active {
  background-color: #fafafa;
}

@media screen and (max-width: 768px) {
  .main {
    margin-left: 260px;
    margin-right: -500px;
  }
  .main .carousel-inner {
    height: 805px;
    width: 1200px;
  }
  .main .carousel-indicators {
    margin-right: -70px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main {
    margin-left: 10px;
  }
  .main .carousel-control-next {
    margin-right: -400px;
  }
}

.nosotros {
  margin-top: -100px;
}

.nosotros .nosotros__img {
  width: 470px;
  height: 650px;
  margin-left: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nosotros .nosotros__text {
  z-index: -1;
  text-align: justify;
  margin-left: 920px;
  margin-right: 510px;
  margin-bottom: -260px;
  position: relative;
  top: -560px;
  font-family: Perpetua;
  font-size: 25px;
  word-spacing: 6px;
}

.nosotros .boton-nosotros {
  margin-left: 918px;
  margin-top: -550px;
}

@media screen and (max-width: 768px) {
  .nosotros {
    margin-left: 50px;
    margin-right: -700px;
  }
  .nosotros .nosotros__img {
    margin-left: 240px;
  }
  .nosotros .nosotros__text {
    margin-top: -80px;
    margin-left: 750px;
    margin-right: 150px;
    font-size: 33px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nosotros {
    margin-left: 10px;
    margin-right: -900px;
  }
  .nosotros .nosotros__img {
    margin-top: 150px;
    margin-left: 53px;
    width: 1100px;
    height: 1000px;
  }
  .nosotros .nosotros__text {
    margin-top: 650px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 70px;
  }
  .nosotros .bot_mas {
    border: solid;
    font-size: 50px;
  }
}

.section {
  padding: 0px 80px;
  margin-left: 20px;
  margin-bottom: 100px;
}

.section .section__img1 {
  border: solid;
  margin-top: 100px;
  width: 350px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .section__img2 {
  border: solid;
  margin-top: 130px;
  width: 350px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .section__img3 {
  border: solid;
  margin-top: -938px;
  margin-left: 950px;
  width: 350px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .section__img4 {
  border: solid;
  margin-top: -108px;
  margin-left: 950px;
  width: 350px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section .noticiastexto1 {
  margin-top: -270px;
  margin-left: 370px;
  margin-right: 1000px;
  font-size: 18px;
}

.section .noticiastexto3 {
  margin-right: 50px;
  margin-top: -620px;
  margin-left: 1318px;
  font-size: 18px;
}

.section .noticiastexto4 {
  margin-right: 50px;
  margin-top: -273px;
  margin-left: 1318px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .section {
    margin-right: -900px;
    margin-left: 200px;
  }
  .section .section__img3 {
    margin-top: 400px;
    margin-left: 0px;
    margin-top: 200px;
  }
  .section .section__img4 {
    margin-top: 400px;
    margin-left: 0px;
    margin-top: 200px;
  }
  .section .noticiastexto1 {
    margin-left: 370px;
    margin-right: 250px;
    font-size: 27px;
  }
  .section .noticiastexto3 {
    margin-left: 370px;
    margin-right: 250px;
    margin-top: -270px;
    font-size: 27px;
  }
  .section .noticiastexto4 {
    margin-left: 370px;
    margin-right: 250px;
    margin-top: -270px;
    font-size: 27px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .section {
    margin-left: 10px;
    margin-right: -900px;
  }
  .section h3 {
    font-size: 90px;
  }
  .section h4 {
    font-size: 56px;
  }
  .section .section__img1 {
    width: 1000px;
    height: 500px;
  }
  .section .section__img2 {
    width: 1000px;
    height: 500px;
  }
  .section .section__img3 {
    width: 1000px;
    height: 500px;
  }
  .section .section__img4 {
    width: 1000px;
    height: 500px;
  }
  .section .noticiastexto1 {
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
  }
  .section .noticiastexto3 {
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
  }
  .section .noticiastexto4 {
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
  }
  .section .bot_mas_c {
    border: solid;
    font-size: 50px;
  }
}

.divf {
  padding-bottom: 20px;
  margin-top: 200px;
  background-color: #9acfd1;
  padding: 90px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(cadetblue), to(#9acfd1));
  background-image: linear-gradient(cadetblue, #9acfd1);
}

.divf .footer__text {
  margin-bottom: -240px;
  margin-top: -50px;
  margin-right: 800px;
  font-family: Perpetua;
  font-size: 50px;
}

.divf .formulario {
  position: relative;
  left: 1000px;
  top: 100px;
  margin-right: 1200px;
}

@media screen and (max-width: 768px) {
  .divf {
    margin-right: -900px;
  }
  .divf .formulario {
    position: relative;
    left: 700px;
    top: 100px;
    margin-right: 1000px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .divf .formulario {
    margin-bottom: 200px;
    margin-left: -400px;
    margin-right: 450px;
    position: relative;
    top: 280px;
    left: 400px;
  }
  .divf .text__form {
    font-size: 80px;
    margin-right: 50px;
  }
  .divf .text_form {
    font-size: 45px;
  }
}

.footer .iconos {
  margin-bottom: 10px;
  margin-top: 60px;
  margin-left: 690px;
}

@media screen and (max-width: 768px) {
  .footer .iconos {
    margin-left: 465px;
    margin-right: -600px;
    font-size: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .iconos {
    font-size: 45px;
    margin-left: 10px;
    margin-right: -900px;
  }
}

/*------------------------------------------------------------------------------------Nosotros--------------------------------------------------------------------------------------------------*/
.mainN {
  margin-right: 180px;
  margin-left: 180px;
}

.mainN .textnos {
  z-index: -1;
  text-align: justify;
  margin-left: 600px;
  margin-right: 200px;
  word-spacing: 6px;
  position: relative;
  top: 360px;
  font-family: Perpetua;
  font-size: 25px;
}

.mainN .imgnos1 {
  width: 470px;
  height: 750px;
  margin-top: -310px;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainN .imgnos2 {
  width: 1470px;
  height: 200px;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .mainN {
    margin-right: -940px;
  }
  .mainN .textnos {
    font-size: 35px;
  }
  .mainN .imgnos1 {
    margin-top: -820px;
    width: 500px;
    height: 1250px;
  }
  .mainN .imgnos2 {
    height: 300px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .mainN .imgnos1 {
    margin-top: -6500px;
    margin-left: -70px;
    width: 1050px;
  }
  .mainN .imgnos2 {
    margin-top: 400px;
    margin-left: -175px;
    width: 1250px;
  }
  .mainN .textnos {
    margin-top: 1200px;
    margin-right: 70px;
    margin-left: -100px;
    font-size: 70px;
  }
}

/*------------------------------------------------------------------------------------Comidas--------------------------------------------------------------------------------------------------*/
.mainComidas #galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

.mainComidas #galeria img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.mainComidas #galeria img:hover {
  border: 5px solid white;
}

.mainComidas .card-title {
  color: black;
  border: solid;
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
}

.mainComidas #btnradio2:checked ~ .row > .platoFuerte {
  display: none;
}

.mainComidas #btnradio2:checked ~ .row > .postre {
  display: none;
}

.mainComidas #btnradio3:checked ~ .row > .entrada {
  display: none;
}

.mainComidas #btnradio3:checked ~ .row > .postre {
  display: none;
}

.mainComidas #btnradio4:checked ~ .row > .platoFuerte {
  display: none;
}

.mainComidas #btnradio4:checked ~ .row > .entrada {
  display: none;
}

.mainComidas .btn {
  padding-left: 130px;
  padding-right: 130px;
  color: black;
  border: solid cadetblue;
  background-color: cadetblue;
}

@media screen and (max-width: 768px) {
  .mainComidas {
    border: solid;
    margin-right: -900px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .mainComidas .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 60px;
  }
}

/*------------------------------------------------------------------------------------Recetas--------------------------------------------------------------------------------------------------*/
.mainRecetas .imgRecetas {
  display: block;
  margin: auto;
  margin-top: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 780px;
  height: 700px;
}

@media screen and (max-width: 768px) {
  .mainRecetas {
    margin-right: -500px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .mainRecetas {
    margin-right: -900px;
  }
  .mainRecetas .imgRecetas {
    width: 1000px;
  }
}

.sectionText {
  margin: 50px 600px 50px 600px;
}

.sectionText h5 {
  font-weight: 650;
}

@media screen and (max-width: 768px) {
  .sectionText {
    margin-right: -260px;
    margin-left: 240px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .sectionText {
    margin-right: -800px;
    margin-left: 110px;
    font-size: 45px;
  }
  .sectionText h5 {
    font-size: 50px;
  }
}
/*# sourceMappingURL=main.css.map */